@import 'components/_variaveis.scss';
@import 'components/_mixins.scss';
@import 'components/_resets.scss';
@import 'components/_espacamento.scss';
@import 'components/_texto.scss';
@import 'components/_grid.scss';

/* ====== CLASSES GLOBAIS ====== */
.btn-estilo1{
    border: none;
    display: inline-block;
    font-family: $os;
    font-weight: 700;
    color: #111;
    background: $amarelo;
    padding: px2rem(8) px2rem(20);
    box-shadow: 1px 1px 2px rgba(#111, 0.3);
    @include transition; 
    cursor: pointer;

    &:hover{
        background: darken($amarelo, 13%);
        color: darken($amarelo, 50%)
    }
}
.text-center{text-align: center}
.status-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.status-fail{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.status.processing{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
/* ====== HEADER ====== */
#header{
    background: #111;
    @include rem(20, padding-top);
    @include rem(20, padding-bottom);
    color: #FFF;

    //Logo
    h1{
        text-transform: uppercase;
        margin-bottom: 0;
        a{
            display: block;
        }
    }
    //Links do cabecalho
    a{
        color: $amarelo;
        &:hover{
            color: lighten($amarelo, 10%);
            text-shadow: 1px 1px 3px rgba($amarelo, 0.5);
        }
    }
    //Itens do menu
    .menu{
        font-family: $os;
        li{
            a{
               display: block;
               padding: px2rem(5) px2rem(10);
            }
        }
    }

    //botao toggle menu
    #toggle-menu{
        position: absolute;
        top: 30px;
        right: 20px;
        svg{
            fill: $amarelo;
            @include rem(20, width);
            @include rem(20, height);
        }
    }

    @media(min-width: 320px){
        #main-menu{
            display: none;
            @include rem(20, padding-top);
        }

        //Posicionamento dos itens do menu
        .menu{
            li{
                border-bottom: 1px solid rgba($amarelo, 0.1);
                &:last-child{border: 0}
                a{
                    display: block;
                    padding: px2rem(10) px2rem(10);
                }
            }
        }
    }
    @media(min-width: 576px){}
    @media(min-width: 768px){}
    @media(min-width: 992px){
        #toggle-menu{display: none}
        
        //Posicionamento dos containers internos
        & > .container{
            display: flex;
            align-items: center;
        }  

        h1{width: 18%;}

        //Posicionamento do menu
        #main-menu{
            width: 82%;
            display: flex;
            justify-content: flex-end;
            padding-top: 0;
        }

        //Posicionamento dos itens do menu
        .menu{
            display: flex;
            flex-wrap: wrap;
            li{
                border-bottom: 0; //Reset border mobile
                border-right: 1px solid rgba($amarelo, 0.1);
                &:last-child{border: 0}               
                a{padding: 0 px2rem(15)}
            }
        }
    }
    @media(min-width: 1200px){}
}
/* ====== HOME ====== */
.lista-noticias{
    @include ul-reset;

    h2, h3{
        a{
            &:hover{
                color: darken($amarelo, 50%);
                text-shadow: 1px 1px 1px rgba(#111, 0.3);
            }
        }
    }

    li{
        position: relative;
        border-top: 1px solid $cinza5;
        @include rem(30, padding-bottom);

        .details{
            margin-top: -2px;
            @include rem(20, margin-bottom);

            .category,
            .date{
                @include rem(13);
                padding: px2rem(4) px2rem(10);
                a{color: $amarelo}
                margin-right: -5px;
                line-height: 1;
                box-shadow: 1px 1px 1px rgba(#111, 0.2);
            }

            .category{
                display: inline-block;
                background: #111;
                color: $amarelo;
            }
            .date{
                display: inline-block;
                background: $amarelo;
                color: darken($amarelo, 35%);
            }//.date
        }//.detals
    }//li
}
.widget{
    border: 1px solid $cinza5;
    @include rem(20, padding);
    svg{
        float: left;
        fill: #111;
        @include rem(10, margin-right);
    }
    h2,
    h3{
        @include rem(20)
    }
}
/* ====== FORMULARIO ====== */
#form-registro{
    input:not([type="submit"]),
    select,
    textarea{
        display: block;
        border: 1px solid $cinza5;
        @include rem(15, margin-bottom);
        color: $cinza2; 
        padding: px2rem(10) px2rem(15);
        font-family: Arial, Helvetica, sans-serif;
        @include rem(16);
    }

    input:not([type="submit"]),
    textarea{width: 100%}

    label{
        display: block;
        @include rem(5, margin-bottom);
        font-family: $os;
        font-weight: 700;
    }

}