/* ====== RESETS ====== */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

/* ====== ESPACAMENTOS ====== */
.mt-20 {
    margin-top: 1.25rem;
}

.mt-30 {
    margin-top: 1.875rem;
}

.mt-50 {
    margin-top: 3.125rem;
}

.mt-70 {
    margin-top: 4.375rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-30 {
    margin-bottom: 1.875rem;
}

.mb-50 {
    margin-bottom: 3.125rem;
}

.mb-70 {
    margin-bottom: 4.375rem;
}

.pt-20 {
    padding-top: 1.25rem;
}

.pt-30 {
    padding-top: 1.875rem;
}

.pt-50 {
    padding-top: 3.125rem;
}

.pt-70 {
    padding-top: 4.375rem;
}

.pb-20 {
    padding-bottom: 1.25rem;
}

.pb-30 {
    padding-bottom: 1.875rem;
}

.pb-50 {
    padding-bottom: 3.125rem;
}

.pb-70 {
    padding-bottom: 4.375rem;
}

/* ====== TEXTO ====== */
body {
    font: normal normal 400 1rem/150% "Oswald", sans-serif;
    color: #7e7e7e;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #333;
    line-height: 150%;
    margin-bottom: 1.25rem;
}

h1 a, h2 a, h3 a {
    color: inherit;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 0.625rem;
}

/* ====== CLASSES GLOBAIS ====== */
.container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* ====== HEADER ====== */
#header {
    background: #111;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #FFF;
}

#header h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

#header h1 a {
    display: block;
}

#header a {
    color: #ffca47;
}

#header a:hover {
    color: #ffd97a;
    text-shadow: 1px 1px 3px rgba(255, 202, 71, 0.5);
}

#header .menu li a {
    display: block;
    padding: 0.3125rem 0.625rem;
}

#header svg {
    fill: #ffca47;
}

@media (min-width: 320px) {
    #header #main-menu {
        padding-top: 1.25rem;
    }
    #header .menu li {
        border-bottom: 1px solid rgba(255, 202, 71, 0.1);
    }
    #header .menu li:last-child {
        border: 0;
    }
    #header .menu li a {
        display: block;
        padding: 0.625rem 0.625rem;
    }
}

@media (min-width: 992px) {
    #header > .container {
        display: flex;
        align-items: center;
    }
    #header h1 {
        width: 18%;
    }
    #header #main-menu {
        width: 82%;
        display: flex;
        justify-content: flex-end;
        padding-top: 0;
    }
    #header .menu {
        display: flex;
        flex-wrap: wrap;
    }
    #header .menu li {
        border-bottom: 0;
        border-right: 1px solid rgba(255, 202, 71, 0.1);
    }
    #header .menu li:last-child {
        border: 0;
    }
    #header .menu li a {
        padding: 0 0.9375rem;
    }
}
