/* ====== CLASSES GLOBAIS ====== */
.img-center{
    display: block;
    margin: 0 auto;
}

.img-left{
    float: left;
    margin: 0 10px 10px 0;
}


#link-topo{
    /* Estilizacao */
    display: block;
    background: rgba($cinza2, .9);
    color: #000;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 20px;
    margin: 0 20px 30px 0;
    box-shadow: 1px 1px 1px rgba(#000, 0.3);

    /* Posicionamento */
    position: fixed;
    bottom: 0;
    left: 15px;
}

//LISTAS =======================================================
.lista-sem-marcador{@include ul-reset;}
.lista-sp{padding-left: 0;}

.related-posts{
    @include ul-reset;
    li{
        display: flex;
        @include rem(20, margin-bottom);
                
        h2, h3{
            color: $azul1;
            @include rem(16);
            font-family: $ge;
            line-height: 1.2;
        }
        
        .related-post-date{
            font-family: $os;
            color: $cinza3;
            @include rem(14)
        }
        
        .related-post-thumbnail{
            @include rem(15, margin-right);
            width: 34%;
        }
        .related-post-text{width: 76%}
    }
}
.widget_recent_entries{
    ul{
       @include ul-reset; 
       li{ 
           padding: px2rem(10) px2rem(5);          
           border-bottom: 1px solid $cinza3;
           &:last-child{border: none}
           
           a{
               display: block;               
               @include rem(8, margin-bottom);
           }//a
       }//li
    }//ul
}

.widget_archive, 
.widget_categories{
    ul{
        @include ul-reset;

        li{
            border-bottom: 1px solid rgba(#FFF, 0.1);
            letter-spacing: 2px;
            line-height: 10px;
            list-style: none;
            padding: px2rem(15) 0;
            text-align: right;

            a{
                position: relative;
                display: inline-block;
                float: left;
                color: $texto;
                letter-spacing: 1.5px;
                padding: 0 px2rem(5);

                &:hover{color: $mostarda1}
            }//a

            &:last-child{border: none}

            &:before, &:after{
                content: " ";
                display: table;
            }
            &:after {clear: both}
        }//li
    }//ul
}

//MENUS ========================================================

//BOTOES =================================================
